br {
  clear: both;
}

t-columns {
  clear: both;
  display: block;
  margin: -1em;
}

t-1, t-2, t-3,
t-4, t-5, t-6,
t-7, t-8, t-9,
t-10, t-11, t-12 {
  display: block;
  float: left;
  padding: 1em;
}

t-1 { width: 8.33%; }
t-2 { width: 16.66%; }
t-3 { width: 25%; }
t-4 { width: 33.33%; }
t-5 { width: 41.66%; }
t-6 { width: 50%; }
t-7 { width: 58.33%; }
t-8 { width: 66.66%; }
t-9 { width: 75%; }
t-10 { width: 83.33%; }
t-11 { width: 91.66%; }
t-12 { width: 100%; }
